.button {
  position: relative;
  display: block;
  width: 136px;
  border: 1px solid $accent-color;
  border-radius: 30px;
  color: $accent-color;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  cursor: pointer;

  @media (max-width: $mobile-width-max) {
    padding: 16px 21px;
    height: 44px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }

  @media (min-width: $tablet-width-min) {
    padding: 20px 31px;
    height: 56px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    display: block;
    background-color: $accent-color;
    border-radius: 50%;

    @media (max-width: $mobile-width-max) {
      width: 34px;
      height: 34px;
    }

    @media (min-width: $tablet-width-min) {
      width: 46px;
      height: 46px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
    width: 8px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 8px 8px;
    background-color: $basic-light-color;

    @media (max-width: $mobile-width-max) {
      top: 17px;
      right: 17px;
    }

    @media (min-width: $tablet-width-min) {
      top: 23px;
      right: 23px;
    }
  }
}

.button:focus::before {
  transform: rotate(45deg);
}

.button:disabled,
.button-disabled {
  color: $disabled-color;
  border-color: $disabled-color;

  &::after {
    background-color: $disabled-color;
  }

  &::before {
    color: rgba(255, 255, 255, 0.6);
  }
}

.button--primary {
  background-color: $basic-light-color;

  &:hover,
  &:active {
    background-color: $accent-color;
    color: $basic-light-color;

    &::after {
      background-color: $basic-light-color;
    }

    &::before {
      background-color: $accent-color;
      transform: rotate(45deg);
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);

    &::before {
      background-color: rgba(49, 109, 194, 0.7);
    }
  }
}

.button--secondary {
  background-color: transparent;

  &:hover,
  &:active {
    background-color: $basic-light-color;
    color: $accent-color;
    border-color: $basic-light-color;

    &::after {
      background-color: $accent-color;
    }

    &::before {
      background-color: $basic-light-color;
      transform: rotate(45deg);
    }
  }

  &:active {
    color: rgba(49, 109, 194, 0.7);

    &::before {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

.button--secondary-light {
  background-color: transparent;
  border-color: $basic-light-color;
  color: $basic-light-color;

  &::after {
    background-color: $basic-light-color;
  }

  &::before {
    background-color: $accent-color;
  }
}
