.button-arrow {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background-color: $accent-color;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 11px;
    left: 11px;
    z-index: 1;
    width: 8px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 8px 8px;
    background-color: $basic-light-color;
  }
}

.button-arrow:hover,
.button-arrow:active {
  background-color: $basic-light-color;

  &::before {
    background-color: $accent-color;
    transform: rotate(45deg);
  }
}

.button-arrow:active::before {
  background-color: rgba(49, 109, 194, 0.7);
}

.button-arrow:disabled,
.button-arrow-disabled {
  background-color: $disabled-color;

  &::before {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.button-arrow:focus::before {
  transform: rotate(45deg);
}
