.custom-select {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 60%; // 22px
    right: 20px;
    width: 16px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-arrow-down-view");
    background-color: $basic-light-color;
    mask-repeat: no-repeat;
    mask-size: 16px 8px;
  }
}

.custom-select--opened::after {
  transform: rotate(180deg);
}

.custom-select--secondary::after {
  background-color: $basic-dark-color;
}

.custom-select__input {
  cursor: default;
}

.custom-select--secondary .custom-select__input {
  color: $basic-dark-color;
}

.custom-select--opened.custom-select--secondary .custom-select__input {
  border-color: $basic-dark-color;
}

.custom-select--secondary .custom-select__input:disabled ~ .custom-select__label {
  color: rgba(169, 175, 183, 0.6);
}

.custom-select__select {
  display: none;
  position: absolute;
  top: 55px;
  z-index: 5;
  width: 100%;
  border: 1px solid $basic-light-color;
  border-radius: 8px;
  background-color: $basic-light-color;
  cursor: default;
}

.custom-select--secondary .custom-select__select {
  border-color: $basic-dark-color;
}

.custom-select__select--opened {
  display: block;
}

.custom-select__option {
  padding: 17px 20px;
  font-size: 14px;
  line-height: 14px;
  color: $basic-dark-color;
  background-color: $basic-light-color;
  cursor: default;

  &:hover {
    color: $accent-color;
  }

  &:active,
  &:focus {
    background-color: $accent-color;
    color: $basic-light-color;
  }

  &:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
