.faq {
  @media (max-width: $mobile-width-max) {
    padding: 50px 15px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 50px 45px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 71px 206px 60px;
  }
}

.faq__main-wrapper {
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width-min) {
    width: 1028px;
  }
}

.faq__title {
  margin: 0;
  font-weight: 400;
  color: $accent-color;
  text-align: center;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 40px;
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 71px;
    font-size: 50px;
    line-height: 50px;
  }
}

.faq__accordion {
  @include flex(row, space-between, center);

  flex-wrap: wrap;
  gap: 10px;
}

.faq__accordion-item {
  @include flex(row, space-between, center);

  flex-wrap: wrap;
  gap: 20px;

  border: 2px solid $accent-color;
  border-radius: 14px;
  cursor: pointer;

  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
    padding: 20px 15px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: $tablet-content-width;
    padding: 30px;
  }

  @media (min-width: $desktop-width-min) {
    width: 1028px;
    padding: 40px;
  }

  p {
    display: none;
    margin: 0;
    color: $extra-light-color;

    @media (max-width: $mobile-width-max) {
      font-size: 14px;
      line-height: 20px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width-min) {
      font-size: 16px;
      line-height: 26px;
    }
  }

  br {
    @media (min-width: $tablet-width-min) {
      display: none;
    }
  }

  br:nth-child(2) {
    @media (max-width: $mobile-width-max) {
      display: none;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      display: block;
    }
  }
}

.faq__accordion-title {
  margin: 0;
  color: $accent-color;
  font-weight: 400;

  @media (max-width: $mobile-width-max) {
    width: 188px;
    font-size: 16px;
    line-height: 18px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 500px;
    font-size: 22px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width-min) {
    width: 850px;
    font-size: 28px;
    line-height: 34px;
  }
}

// кнопка открытия вкладки
.faq__open-button {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width-min) {
    align-self: flex-start;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    background-color: $basic-light-color;

    @include centring-positioned-element;
  }

  &::after {
    width: 18px;
    height: 1px;
  }

  &::before {
    width: 1px;
    height: 18px;
  }
}

// состояния кнопки при закрытой вкладке
.faq__open-button:hover,
.faq__open-button:focus {
  border-color: $accent-color;
  background-color: transparent;

  &::after,
  &::before {
    background-color: $accent-color;
  }
}

.faq__open-button:active {
  background-color: $extra-dark-color;
}

.faq__open-button:disabled {
  background-color: $disabled-color;
  border-color: $disabled-color;

  &::after {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

// состояние кнопки при открытой вкладке
.faq__accordion-item--active .faq__open-button {
  background-color: $basic-light-color;

  &::after {
    background-color: $accent-color;
  }

  &::before {
    display: none;
  }
}

.faq__accordion-item--active .faq__open-button:hover,
.faq__accordion-item--active .faq__open-button:focus {
  border-color: $basic-light-color;
  background-color: transparent;

  &::after {
    background-color: $basic-light-color;
  }
}

.faq__accordion-item--active .faq__open-button:active::after {
  background-color: $extra-dark-color;
}

// прочие стили при открытой вкладке
.faq__accordion-item--active {
  background-color: $accent-color;

  p {
    display: block;
  }
}

.faq__accordion-item--active .faq__accordion-title {
  color: $basic-light-color;
}

// состояния аккордеона
.faq__accordion-item:hover,
.faq__accordion-item:focus {
  background-color: $basic-light-color;
}

.faq__accordion-item:active .faq__accordion-title {
  color: $extra-dark-color;
}

.faq__accordion-item--active:active {
  background-color: $extra-dark-color;
}

.faq__accordion-item--active:active .faq__accordion-title {
  color: $basic-light-color;
}

.faq__accordion-item--active:hover,
.faq__accordion-item--active:focus {
  background-color: $accent-color;
}

.faq__accordion-item--active:hover .faq__accordion-title,
.faq__accordion-item--active:hover p {
  color: $basic-light-color;
}

.faq__accordion-item--active:hover .faq__open-button,
.faq__accordion-item--active:focus .faq__open-button {
  border-color: $basic-light-color;
  background-color: transparent;

  &::after {
    background-color: $basic-light-color;
  }
}
