.footer {
  @media (max-width: $mobile-width-max) {
    padding: 40px 15px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 40px 45px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 60px 100px 40px;
  }
}

.footer__main-wrapper {
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    @include flex(column, center, center);
    flex-wrap: wrap;
    width: $mobile-content-width;
    gap: 20px;
  }

  @media (min-width: $tablet-width-min) {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    row-gap: 25px;
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width-min) {
    width: $desktop-content-width;
  }
}

.footer__logo-icon {}

.footer__nav {
  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 529px;
    margin-top: 1px;
  }

  @media (min-width: $desktop-width-min) {
    width: 936px;
    margin-top: 1px;
  }
}

.footer__nav-list {
  @include reset-list;
  @include flex(row, center, center);
  flex-wrap: wrap;

  @media (max-width: $mobile-width-max) {
    gap: 30px;
    row-gap: 20px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    gap: 15px;
  }

  @media (min-width: $desktop-width-min) {
    justify-content: flex-start;
    gap: 30px;
    row-gap: 15px;
  }
}

.footer__nav-item {}

.footer__nav-link {
  display: inline-block;
  text-decoration: none;
  color: $basic-dark-color;

  @media (max-width: $mobile-width-max) {
    font-size: 14px;
    line-height: 20px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 16px;
    line-height: 26px;
  }

  &:hover {
    color: rgba(49, 109, 194, 0.7);
  }

  &:focus {
    color: $accent-color;
  }

  &:active {
    color: $extra-dark-color;
  }
}

.footer__rights-wrapper {
  @include flex(column, center, center);
  flex-wrap: wrap;
  gap: 10px;

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    align-items: flex-start;
  }

  @media (min-width: $desktop-width-min) {
    width: 100%;
    @include flex(row, space-between, center);
    order: 4;
  }
}

.footer__policy {
  margin: 0;
  padding-bottom: 2px;
  text-decoration: none;
  color: $basic-dark-color;
  border-bottom: 1px solid $basic-dark-color;

  @media (max-width: $mobile-width-max) {
    font-size: 12px;
    line-height: 14px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-top: 1px;
    font-size: 12px;
    line-height: 12px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 14px;
    line-height: 18px;
    order: 2;
  }

  &:hover {
    color: rgba(49, 109, 194, 0.7);
    border-color: rgba(49, 109, 194, 0.7);
  }

  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }

  &:active {
    color: $extra-dark-color;
    border-color: $extra-dark-color;
  }
}

.footer__rights {
  margin: 0;
  opacity: 60%;

  @media (max-width: $mobile-width-max) {
    font-size: 12px;
    line-height: 14px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    font-size: 12px;
    line-height: 12px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 14px;
    line-height: 18px;
    order: 1;
  }
}

.footer__social-list {
  @media (max-width: $mobile-width-max) {
    margin-top: -5px;
  }

  @media (min-width: $desktop-width-min) {
    order: 3;
  }
}
