.header {
  position: relative;

  @media (max-width: $mobile-width-max) {
    padding: 20px 15px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 30px 45px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 30px 100px;
  }
}

.header__main-wrapper {
  @include flex(row, space-between, center);

  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width-min) {
    width: $desktop-content-width;
  }
}

.header__logo-icon {}

.header__nav {
  margin: 0 auto;
  margin-top: 4px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  background-color: $accent-color;
  border-radius: 16px;

  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
  }

  @media (min-width: $tablet-width-min) {
    margin-right: 0;
    width: 286px;
  }
}

.header__nav-list {
  display: none;
}

.header__nav--opened .header__nav-list {
  @include flex(column, center, flex-start);
  gap: 24px;

  @include reset-list;

  padding: 33px 25px;
}

.header__nav-item {}

.header__nav-link {
  position: relative;
  @include reset-link;

  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.02em;
  display: inline;
}

.header__nav-item--sublist .header__nav-link::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -23px;
  width: 11px;
  height: 5px;
  mask-image: url("/__spritemap#sprite-arrow-down-view");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 12px 12px;
  background-color: $basic-light-color;
}

.header__nav-item--sublist-opened .header__nav-link {
  color: $basic-light-color;

  &::after {
    transform: rotate(180deg);
  }
}

.header__nav-sublist {
  display: none;

  @include reset-list;
}

.header__nav-sublist--opened {
  @include flex(column, center, flex-start);
  gap: 12px;

  color: rgba(255, 255, 255, 0.6);
  padding: 16px 16px 0 16px;
  text-transform: capitalize;
}

.header__nav-sublist-item {}

.header__nav-sublist-link {
  @include reset-link;

  color: rgba(255, 255, 255, 0.6);
}

.header__toggle {
  width: 136px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.28px;

  @media (max-width: $mobile-width-max) {
    height: 54px;
    padding: 19px;
  }

  @media (min-width: $tablet-width-min) {
    padding: 20px;
  }

  &::after {
    @media (max-width: $mobile-width-max) {
      top: 3px;
      right: 3px;
      width: 46px;
      height: 46px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      right: 4px;
    }
  }

  &::before {
    right: 19px;
    width: 16px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-burger-menu-view");
    mask-size: 16px 8px;

    @media (max-width: $mobile-width-max) {
      top: 22px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      top: 23px;
    }
  }

  &:hover::before {
    transform: rotate(0deg);
  }
}

.header__toggle--opened {
  position: absolute;
  background-color: $accent-color;
  color: $basic-light-color;

  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
  }

  @media (min-width: $tablet-width-min) {
    right: 45px;
    width: 286px;
  }

  @media (min-width: $desktop-width-min) {
    right: 100px;
  }


  &::after {
    background-color: $basic-light-color;
  }

  &::before {
    top: 19px;
    right: 18px;
    width: 16px;
    height: 16px;
    mask-image: url("/__spritemap#sprite-close-menu-view");
    mask-size: 16px 16px;
    background-color: $accent-color;
  }
}
