.hero {
  position: relative; // для header
  width: 100%;
}

.hero__header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.hero__swiper {
  width: 100%;
}

.hero__swiper-wrapper {
  width: 100%;
}

.hero__slide-image-wrapper {
  position: absolute;
  width: 100%;

  @media (max-width: $mobile-width-max) {
    height: 568px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    height: 1024px;
  }

  @media (min-width: $desktop-width-min) {
    height: 800px;
  }
}

.hero__slide-image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 109, 194, 0.2);
  z-index: 0;
}

.hero__image {
  display: block;
  width: 100%;
}

.hero__slide-text-wrapper {
  @include flex(column, flex-end, flex-start);

  margin: 0 auto;
  width: max-content;
  border-radius: 13px;
  box-decoration-break: clone;
  filter: url(#gooey-filter);
  overflow: scroll;
  overflow-x: hidden;

  @media (max-width: $mobile-width-max) {
    padding: 115px 15px 20px;
    height: 568px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 130px 64px 60px 45px;
    height: 1024px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 150px 0 60px;
    width: $desktop-content-width;
    height: 800px;
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    background-color: $basic-light-color;

    @media (max-width: $mobile-width-max) {
      padding: 0 14px 15px 14px;
      width: 267px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      width: 241px;
    }

    @media (min-width: $desktop-width-min) {
      width: 391px;
      line-height: 26px;
    }
  }

  p:last-of-type {
    border-bottom-right-radius: 14px;
  }
}

.hero__slide-title {
  margin: 0;
  font-weight: 400;

  color: $accent-color;
  background-color: $basic-light-color;

  @media (max-width: $mobile-width-max) {
    padding: 20px 15px 16px 14px;
    width: 290px;
    font-size: 22px;
    line-height: 26px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 30px 40px 24px;
    width: 659px;
    font-size: 36px;
    line-height: 44px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 40px 50px 30px 50px;
    width: 968px;
    font-size: 54px;
    line-height: 62px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.hero__slide-description-wrapper {
  @media (max-width: $mobile-width-max) {
    border-radius: 13px;
    box-decoration-break: clone;
    filter: url(#gooey-filter);
  }

  @media (min-width: $tablet-width-min) {
    @include flex(row, space-between, flex-start);

    width: 593px;
    padding: 0 40px 35px 40px;
    background-color: $basic-light-color;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  @media (min-width: $desktop-width-min) {
    width: 775px;
    padding: 0 50px 35px;
  }
}

// кнопка "подробнее"
.hero__button-wrapper {
  @media (max-width: $mobile-width-max) {
    width: 184px;
    padding: 10px 15px;
    background-color: $basic-light-color;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  }

  @media (min-width: $desktop-width-min) {
    margin-top: 10px;
  }
}

.hero__details {
  @media (max-width: $mobile-width-max) {
    width: 154px;
  }

  @media (min-width: $tablet-width-min) {
    width: 198px;
  }

  @media (min-width: $desktop-width-min) {
    width: 199px;
    height: 58px;
  }
}

// пагинация
.hero__pagination {
  position: absolute;
  top: -120px;
  left: 0;
  z-index: 5;
  background-color: $basic-light-color;
  width: fit-content;

  @media (max-width: $mobile-width-max) {
    padding: 5px 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  @media (min-width: $tablet-width-min) {
    padding: 11px 9px 11px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 14px 9px 14px 20px;
  }
}

.hero__bullet {
  background-color: transparent;
  border: 2px solid $accent-color;
  opacity: 100%;
  cursor: pointer;

  @media (max-width: $mobile-width-max) {
    width: 8px;
    height: 8px;
  }

  @media (min-width: $tablet-width-min) {
    width: 12px;
    height: 12px;
  }

  &:hover {
    border: 2px solid $basic-light-color;
    background-color: $accent-color;
  }

  &:focus {
    background-color: $accent-color;
  }
}

.hero__bullet--active {
  background-color: #275699;
}

.hero__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: fit-content;
  top: auto;

  @media (max-width: $mobile-width-max) {
    bottom: 338px;
    left: 15px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    bottom: 337px;
    left: 45px;
  }

  @media (min-width: $desktop-width-min) {
    bottom: 362px;
    left: 100px;
  }
}

.hero__pagination .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  @media (max-width: $mobile-width-max) {
    margin: 0 6px;
  }

  @media (min-width: $tablet-width-min) {
    margin: 0;
    margin-right: 12px;
  }
}
