.news {
  @media (max-width: $mobile-width-max) {
    padding: 50px 0px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 50px 45px 83px 45px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 60px 100px 92px 100px;
  }
}

.news__main-wrapper {
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    position: relative; // для кнопок навигации swiper
    width: 320px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    position: relative; // для пагинации swiper
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width-min) {
    position: relative; // для кнопок навигации swiper
    width: $desktop-content-width;
  }
}

.news__title {
  margin: 0 auto;
  font-weight: 400;
  color: $accent-color;
  text-align: center;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 24px;
    width: 290px;
    font-size: 20px;
    line-height: 20px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 30px;
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 50px;
  }
}

// ТАБЫ, НАВИГАЦИЯ
.news__tabs {
  @media (max-width: $mobile-width-max) {
    padding-left: 15px;
    width: 320px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0 auto;
    width: 720px;
  }
}

.news__nav-list {
  @include reset-list;

  @include flex(row, flex-start, center);
  gap: 11px;

  @media (max-width: $mobile-width-max) {
    gap: 11px;
    margin-bottom: 24px;
    overflow-x: auto;
    scrollbar-width: none;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width-min) {
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0.0);
}

.news__nav-item {
  text-align: center;

  @media (min-width: $desktop-width-min) {
    width: 120px;
  }
}

.news__nav-link {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  color: rgba(49, 109, 194, 0.6);
  border-radius: 20px;

  @media (max-width: $mobile-width-max) {
    padding: 10px 15px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }

  @media (min-width: $tablet-width-min) {
    padding: 14px 21px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 14px 0px;
  }
}

.news__nav-item--active .news__nav-link {
  border: 2px solid $accent-color;
  border-radius: 20px;
  color: $accent-color;
}

.news__nav-link:hover {
  color: rgba(49, 109, 194, 0.6);
  border-color: transparent;
}

.news__nav-link:focus {
  background-color: $basic-light-color;
}

// ТАБ КОНТЕНТ, СВАЙПЕР
// свайпер
.news__swiper.swiper {
  @media (max-width: $mobile-width-max) {
    width: 320px;
    padding: 0 15px;
    height: 640px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    height: 730px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 40px;
  }
}

.news__slide-main-wrapper {
  position: relative; // для текстового блока
}

.news__slide.swiper-slide {
  @media (max-width: $mobile-width-max) {
    height: 240px;
  }

  @media (min-width: $desktop-width-min) {
    width: 286px;
  }
}

.news__slide.swiper-slide-active {
  @media (max-width: $mobile-width-max) {
    height: 330px;
  }

  @media (min-width: $desktop-width-min) {
    width: 604px;
  }
}

.news__slide.swiper-slide .news__slide-image-wrapper {
  @media (max-width: $mobile-width-max) {
    width: 290px;
    height: 240px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 324px;
    height: 350px;
  }

  @media (min-width: $desktop-width-min) {
    width: 286px;
    height: 400px;
  }
}

.news__slide.swiper-slide-active .news__slide-image-wrapper {
  @media (max-width: $mobile-width-max) {
    width: 290px;
    height: 330px;
  }

  @media (min-width: $desktop-width-min) {
    width: 604px;
    height: 400px;
  }
}

.news__slide-image {
  display: block;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.news__slide-text-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;

  box-decoration-break: clone;
  filter: url(#gooey-filter);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 3;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 16px 16px;
    background-color: $extra-light-color;
  }

  &::before {
    mask-image: url("/__spritemap#sprite-corner-16x16-view");
  }

  &::after {
    margin-top: -16px;
    mask-image: url("/__spritemap#sprite-corner-16x16-view");

    @media (max-width: $mobile-width-max) {
      margin-left: 263px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      margin-left: 240px;
    }

    @media (min-width: $desktop-width-min) {
      margin-left: 240px;
    }
  }
}


.news__slide.swiper-slide-active .news__slide-text-wrapper::after {
  @media (min-width: $desktop-width-min) {
    margin-left: 468px;
  }
}

.news__slide-date {
  position: relative;
  margin: 0;
  background-color: $extra-light-color;
  color: $accent-color;

  display: block;
  padding: 12px 12px 6px 0;
  width: 78px;
  border-top-right-radius: 12px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
}

.news__slide-title {
  margin: 0;
  font-weight: 400;
  background-color: $extra-light-color;
  color: $accent-color;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

  @media (max-width: $mobile-width-max) {
    padding: 10px 18px 4px 0; // 10 18 5 0 на винде
    width: 200px;
    font-size: 16px;
    line-height: 18px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 10px 18px 6px 0;
    width: 207px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 10px 18px 4px 0;
    width: 190px;
    font-size: 24px;
    line-height: 26px;
  }
}

.news__slide.swiper-slide-active .news__slide-title {
  @media (min-width: $desktop-width-min) {
    padding: 18px 18px 6px 0;
    width: 426px;
  }
}

.news__slide-description-wrapper {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  gap: 10px;

  border-top-right-radius: 12px;
  background-color: $extra-light-color;

  @media (max-width: $mobile-width-max) {
    padding: 12px 10px 10px 0; // 12 10 9 0 на видне
    width: 263px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 12px 18px 15px 0;
    width: 240px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 12px 18px 15px 0;
    width: 240px;
  }

  p {
    margin: 0;

    @media (max-width: $mobile-width-max) {
      width: 212px;
      font-size: 12px;
      line-height: 14px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      width: 176px;
      font-size: 14px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width-min) {
      width: 180px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.news__slide.swiper-slide-active .news__slide-description-wrapper {
  @media (min-width: $desktop-width-min) {
    width: 468px;

    p {
      width: 404px;
    }
  }
}

// пагинация
.news__pagination.swiper-pagination {
  @include flex(row, flex-start, center);
  width: 200px;

  @media (max-width: $mobile-width-max) {
    gap: 4px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    gap: 9px;
  }

  @media (min-width: $desktop-width-min) {
    gap: 8px;
  }
}

.news__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  @media (max-width: $mobile-width-max) {
    left: 24%;
    bottom: 0;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    left: 36%;
    bottom: -62px;
  }

  @media (min-width: $desktop-width-min) {
    left: 525px;
    bottom: -73px;
  }
}

.news__pagination .swiper-pagination-bullet {
  display: block;
  margin: 0;
  text-decoration: none;
  text-align: center;
  color: rgba(49, 109, 194, 0.5);
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  opacity: 100%;

  @media (max-width: $mobile-width-max) {
    width: 26px;
    height: 26px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $tablet-width-min) {
    width: 32px;
    height: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }

  &:focus {
    background-color: $basic-light-color;
  }

  &:active {
    background-color: $extra-dark-color;
    border-color: $extra-dark-color;
  }
}

.news__pagination .swiper-pagination-bullet-active {
  background-color: $accent-color;
  border-color: $accent-color;
  color: $basic-light-color;
}

// навигация swiper стрелки
.news .swiper-button-prev,
.news .swiper-button-next {
  top: auto;

  @media (max-width: $mobile-width-max) {
    bottom: 2px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    bottom: -57px;
  }

  @media (min-width: $desktop-width-min) {
    bottom: -68px;
  }
}

.news .swiper-button-prev {
  @media (max-width: $mobile-width-max) {
    left: 15px;
  }

  @media (min-width: $tablet-width-min) {
    left: 0;
  }
}

.news .swiper-button-next {
  @media (max-width: $mobile-width-max) {
    right: 15px;
  }

  @media (min-width: $tablet-width-min) {
    right: 0;
  }
}
