.news {
  @media (max-width: $mobile-width-max) {
    padding: 50px 0px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 50px 45px;
  }

  @media (min-width: $desktop-width-min) {}
}

.news__main-wrapper {
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    position: relative; // для кнопок навигации swiper
    width: 320px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width-min) {
    width: $desktop-content-width;
  }
}

.news__title {
  margin: 0 auto;
  font-weight: 400;
  color: $accent-color;
  text-align: center;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 20px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width-min) {}

}

.news__tabs {}

.news__nav {
  padding-left: 15px;
  width: 320px;
}

.news__nav-list {
  @include reset-list;

  @include flex(row, flex-start, center);
  gap: 11px;

  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 24px;
}

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0.0);
}

.news__nav-item {
  padding: 7px 15px;
}

.news__nav-item--active {
  border: 2px solid $accent-color;
  border-radius: 20px;
  padding: 7px 15px;
}

.news__nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
}

.news__nav-item .news__nav-link {
  color: rgba(49, 109, 194, 0.6);
}

.news__nav-item--active .news__nav-link {
  color: $accent-color;
}

.news__tab-content {}

// свайпер
.news__swiper.swiper {
  width: 320px;
  padding: 0 15px;
  height: 640px; // 590
}

.news__swiper-wrapper {}

.news__slide-main-wrapper {
  position: relative; // для текстового блока
}

// .news__slide.swiper-slide:nth-child(odd) {
//   height: 240px;
// }

// .news__slide.swiper-slide:nth-child(even) {
//   height: 330px;
// }

.news__slide.swiper-slide {
  height: 240px;
}

.news__slide.swiper-slide-active {
  height: 330px;
}

.news__slide-image {
  display: block;
  border-radius: 12px;
}

.news__slide-text-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;

  box-decoration-break: clone;
  filter: url(#gooey-filter);
  overflow: scroll;
  overflow-x: hidden;
  z-index: 3;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 16px 16px;
    background-color: $extra-light-color;
  }

  &::before {
    mask-image: url("/__spritemap#sprite-corner-16x16-view");
  }

  &::after {
    margin-top: -16px;
    margin-left: 263px;
    mask-image: url("/__spritemap#sprite-corner-16x16-view");
  }
}

.news__slide-date {
  position: relative;
  margin: 0;
  background-color: $extra-light-color;
  color: $accent-color;

  @media (max-width: $mobile-width-max) {
    display: block;
    padding: 12px 12px 6px 0;
    width: 78px;
    border-top-right-radius: 12px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.12px;
  }
}

.news__slide-title {
  margin: 0;
  font-weight: 400;
  background-color: $extra-light-color;
  color: $accent-color;

  @media (max-width: $mobile-width-max) {
    padding: 10px 18px 4px 0;
    width: 200px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 16px;
    line-height: 18px;
  }
}

.news__slide-description-wrapper {
  background-color: $extra-light-color;

  @include flex(row, space-between, center);
  flex-wrap: wrap;

  @media (max-width: $mobile-width-max) {
    padding: 12px 10px 10px 0;
    width: 263px;
    border-top-right-radius: 12px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {}

  @media (min-width: $desktop-width-min) {}


  p {
    margin: 0;

    @media (max-width: $mobile-width-max) {
      width: 212px;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.news__slide-detais {}

// пагинация
.news__pagination.swiper-pagination {
  @include flex(row, flex-start, center);
  gap: 16px;
}

.news__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -13px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.news__pagination .swiper-pagination-bullet {
  display: block;
  margin: 0;
  width: 26px;
  height: 26px;
  padding: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  text-align: center;
  color: #316dc2;
  border-radius: 50%;
  background-color: transparent;
  opacity: 100%;
}

.news__pagination .swiper-pagination-bullet-active {
  background-color: $accent-color;
  color: $basic-light-color;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  // margin: 0;
  // margin-right: 16px;
}

// пагинация (количество слайдов)
// .news__pagination {
//   @include reset-list;

//   margin: 0 auto;
//   width: 152px;
//   overflow: hidden;

//   @include flex(row, flex-start, center);
//   gap: 16px;
// }

// .news__pagination-item {
//   width: 26px;
//   height: 26px;
//   border-radius: 50%;
// }

// .news__pagination-item--active {
//   background-color: $accent-color;
// }

// .news__pagination-item--active .news__pagination-link {
//   color: $basic-light-color;
// }

// .news__pagination-link {
//   display: block;
//   width: 26px;
//   height: 26px;
//   padding: 6px;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 14px;
//   text-decoration: none;
//   text-align: center;
//   color: #316dc2;
//   border-radius: 50%;
// }

// навигация swiper стрелки
.news .swiper-button-prev,
.news .swiper-button-next {
  top: auto;
  bottom: 2px;
  // left: 0;
}

.news .swiper-button-prev {
  left: 15px;
}

.news .swiper-button-next {
  right: 15px;
}
