.reviews {
  @media (max-width: $mobile-width-max) {
    padding: 55px 15px 50px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 50px 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 65px 100px 60px 100px;
  }
}

.reviews__main-wrapper {
  position: relative; // для кнопок навигации слайдера + скроллбар
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding-left: 45px;
    width: $tablet-width-min;
  }

  @media (min-width: $desktop-width-min) {
    width: $desktop-content-width;
  }
}

.reviews__title {
  margin: 0;
  color: $accent-color;
  font-weight: 400;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 20px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 40px;
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 45px;
    margin-left: 3px;
    font-size: 50px;
    line-height: 50px;
  }
}

.reviews__swiper {
  @media (min-width: $tablet-width-min) {
    margin-bottom: 61px;
  }
}

.reviews__slide.swiper-slide {
  @media (max-width: $mobile-width-max) {
    height: 472px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    height: 417px;
  }

  @media (min-width: $desktop-width-min) {
    height: 483px;
  }
}

.reviews__slide-content-wrapper {
  border: 2px solid $accent-color;
  border-radius: 16px;

  @media (max-width: $mobile-width-max) {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    gap: 10px;

    padding: 30px 15px;
    height: 472px;
  }

  @media (min-width: $tablet-width-min) {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(3, min-content);
    row-gap: 25px;

    padding: 50px;
    height: 417px;
  }

  @media (min-width: $desktop-width-min) {
    column-gap: 80px;
    height: 483px;
  }

  blockquote {
    margin: 0;

    @media (max-width: $mobile-width-max) {
      font-size: 14px;
      line-height: 20px;
    }

    @media (min-width: $tablet-width-min) {
      grid-column: 1 / 3;
      font-size: 16px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width-min) {
      line-height: 26px
    }
  }
}

.reviews__author-wrapper {
  @include flex(row, flex-start, center);

  @media (max-width: $mobile-width-max) {
    gap: 10px;
    margin-bottom: 5px;
  }

  @media (min-width: $tablet-width-min) {
    gap: 15px;
  }
}

.reviews__avatar-wrapper {
  border-radius: 50%;

  @media (max-width: $mobile-width-max) {
    width: 60px;
    height: 60px;
  }

  @media (min-width: $tablet-width-min) {
    width: 90px;
    height: 90px;
  }
}

.reviews__avatar {
  display: block;
  width: 100%;
  height: 100%;
}

.reviews__slide-title {
  margin: 0;
  color: $accent-color;
  font-weight: 400;

  @media (max-width: $mobile-width-max) {
    width: 40px;
    font-size: 14px;
    line-height: 18px;
  }

  @media (min-width: $tablet-width-min) {
    width: 90px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 18px;
  }

}

.reviews__details {
  display: grid;
  // grid-template-columns: repeat(2, max-content);
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  column-gap: 25px;
  margin: 0;

  @media (max-width: $mobile-width-max) {
    row-gap: 8px;
    margin-bottom: 15px;
    width: 200px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    row-gap: 10px;
    width: 230px;
  }

  @media (min-width: $desktop-width-min) {
    row-gap: 10px;
    align-self: center;
  }
}

.reviews__details-category--program {
  grid-column: 1 / 2;
}

.reviews__details-category--date {
  grid-column: 2 /3;
  grid-row: 1 / 2;
}

.reviews__details-category {
  color: $accent-color;
  text-transform: uppercase;

  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
}

.reviews__details-info {
  margin-left: 0;

  @media (max-width: $mobile-width-max) {
    font-size: 12px;
    line-height: 14px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 14px;
    line-height: 18px;
  }
}

.reviews__slide-subtitle {
  margin: 0;
  font-weight: 400;
  color: $accent-color;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $tablet-width-min) {
    grid-column: 1 /3;
    margin-top: 5px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 24px;
    line-height: 26px;
  }
}

// кнопки навигации
.reviews__buttons-wrapper {
  position: absolute;

  @media (max-width: $mobile-width-max) {
    top: 0;
    right: 0;
    width: 52px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    bottom: -60px;
    right: 45px;
    width: 54px;
  }

  @media (min-width: $desktop-width-min) {
    bottom: -64px;
    right: 0px;
    width: 54px;
  }
}

.reviews__buttons-wrapper .swiper-button-prev,
.reviews__buttons-wrapper .swiper-button-next {
  position: static;
}

// скроллбар
.reviews__scrollbar.swiper-horizontal>.swiper-scrollbar,
.reviews__scrollbar.swiper-scrollbar.swiper-scrollbar-horizontal {
  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    bottom: -51px;
  }

  @media (min-width: $desktop-width-min) {
    bottom: -53px;
  }
}
