// глобальные переменные
// цвета
$basic-dark-color: #484848;
$basic-light-color: #ffffff;
$extra-light-color: #f0efe9;
$extra-dark-color: #275699;
$accent-color: #316dc2;
$disabled-color: #a9afb7;

// ширина экранов
$mobile-width-max: 767px;
$tablet-width-min: 768px;
$tablet-width-max: 1439px;
$desktop-width-min: 1440px;

// ширина контента
$mobile-content-width: 290px;
$tablet-content-width: 678px;
$desktop-content-width: 1240px;

// шрифт
$main-font: "Manrope", "Arial", sans-serif;
